<!DOCTYPE html>
<html lang="en">

<head>
    <title>QuizLab</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Add Bootstrap CDN and a link to jQuery-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!--Add Bootstrap CDN and a link to jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .jumbotron {
            background-color: #0d6efd;
            /*Blue*/
            color: #ffc107;
            /*Lets make the jumbotron look good by adding some padding:*/
            padding: 25px ;
        }

        h1 {
            /*font-family: "Sofia", sans-serif;*/
            text-shadow: 3px 3px 3px #090404;
        }
        </style>


        <body>


        <section class="jumbotron text-center"> 
            <h1>QuizLab</h1>
        <p>Séries de tests pour les cégepiens</p>
    </section>

    <section class="container-test bg-grey">

        <div class="row">
            <div class="col-nom-du-test"> /* transformer en nav bar avec les questions sur le teco */

            </div>
            <div class="col-question/reponse">
                <h2>Question</h2>
                <button>Choix Multiple</button>

            </div>

        </div>

        </div>

    </section>


    </body>