<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'acceuil</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            background-image: url('https://w.forfun.com/fetch/ae/ae2cbe4c74a79df332455ab8fe742e7c.jpeg');
            background-size: cover;
            background-position: top;
        }
        .d-flex .btn-primary, .d-flex .btn-secondary{
            margin-right: 5px;
            margin-left: 5px;
        }
        .btn.btn-lg.btn-primary{
            width: 50%;
            margin: auto;
            display: block;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Quiz Lab</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Accueil
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Nos questionnaires</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">À Propos</a>
              </li>
            </ul>
            <form class="d-flex">
                <button type="button" class="btn btn-primary">Connexion</button>
                <button type="button" class="btn btn-secondary">Inscirption</button>
            </form>
          </div>
        </div>
    </nav>
    <% if (questions.length > 0) { %>
        <% questions.forEach((question, index) => { %>
            <div class="d-grid gap-2">
                <h2>Question <%= index + 1 %></h2>
                <p><%= question.question %></p>
                <% if (question.options && Array.isArray(question.options)) { %>
                        <% question.options.forEach(option => { %>
                            <button class="btn btn-lg btn-primary" type="button"><%= option %></button>
                        <% }); %>
                <% } else { %>
                    <p>No options found for this question.</p>
                <% } %>
            </div>
        <% }); %>
    <% } else { %>
        <p>No questions found.</p>
    <% } %>
</body>
</html>